build/
qtplugin.pro.user
.qmake.stash
gstplugin.o
gstqsgtexture.o
gstqtelement.o
gstqtglutility.o
gstqtoverlay.o
gstqtsink.o
gstqtsrc.o
libgstqmlgl.so
Makefile
moc_gstqsgtexture.cpp
moc_gstqsgtexture.o
moc_predefs.h
moc_qtglrenderer.cpp
moc_qtglrenderer.o
moc_qtitem.cpp
moc_qtitem.o
moc_qtwindow.cpp
moc_qtwindow.o
qtglrenderer.o
qtitem.o
qtwindow.o
